html {
	background-color: #DBDBDB;
	font-family: Helvetica;
	font-weight: 50px;

}
#button_container {
	width:600px;
	height:300px;
	margin: auto;
	background-color: #e6e6e6;
	border: solid 1px #e6e6e6;
	border-radius: 0px;
	text-align: center;
}
button {
	background-color: #ffffff;
	border: solid 1px #ffffff;
	height: 50px;
	width: 100px
}

.button-input{
	display: inline;
	margin: 00px 0px;
	float: left;
	height: 20px;
	z-index: 1;

}

.button-input-text{
	font-size: 10px;
	margin: 0px;
}
.button {
	display: inline-block;
	margin: 20px 0px;
	float: left;
	height:100;


}

button:hover, .button-text:hover{
	background-color: #000000;
	border: solid 1px #000000;
	color: white;

}
.input-highlight{
	background-color: #000000;
	border: solid 1px #000000;
	color: white;
}

#head-text{
	margin-top: 30px;
	position: relative;
	font-size: 25px;

}

#header-bar{
	height: 3px;
	width: 500px;
	background-color: #ffffff;
	margin: auto;
}
.input-bar{
	height:3px;
	width:100px;
	margin-left: 293px;
	margin-top: 4px;
	background-color:#000000;
	display:inline;
	position: relative;
	float:left;
	z-index: 2;
}
.button-text{
	font-size: 12px;
	text-align: center;
}

#outer_container {
	width:860px;
	background-color: #B2B2B2;
	clear:both;
	margin: auto;
	border: solid 1px #B2B2B2;
	border-radius: 0px;
}
#container {
	height: 800px;
	width: 800px;
	margin: 30px auto;
	text-align: center;
}
p {
	font-size: 15px;

}
.grid_square {
	background-color: black;
	float: left;
	border: 1px solid black;
}
.new_row {
	clear: both;
}
.highlighted {
	background-color: blue;
}

.trail-game{

	opacity: 1;

}
